[Unit]
Description=remote systemd service toggle daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
UMask=0077
LimitCORE=0
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
PrivateIPC=yes
ProtectSystem=yes
ProtectProc=invisible
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
ProtectClock=yes
ProtectHostname=yes
RestrictNamespaces=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictSUIDSGID=yes
RestrictRealtime=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
SystemCallArchitectures=native
ExecStart=/usr/local/bin/remote-systemd-toggled
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
